#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/pinctrl/nrf-pinctrl.h>
#include <zephyr/dt-bindings/spi/spi.h>

/ {
	chosen {
		zephyr,console = &rtt0;
		zephyr,shell-uart = &rtt0;
		zephyr,bt-mon-uart = &rtt0;
		zephyr,bt-c2h-uart = &rtt0;
		/delete-property/ zephyr,uart-mcumgr;
	};

	rtt0: rtt_chan0 {
		compatible = "segger,rtt-uart";
		status = "okay";
	};

	aliases {
		emergency-button = &emergency_button;
		buzzer = &pwm_buzzer_led;
		motor-en = &motor_en_line;
	};

	motor_gpios {
		compatible = "gpio-leds";
		motor_en_line: motor_en_line {
			gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
			label = "motor-en";
		};
	};

	buttons {
		compatible = "gpio-keys";
		emergency_button: emergency_button {
			gpios = <&gpio0 17 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Emergency Button";
		};
	};

	pwm_buzzer_group {
		compatible = "pwm-leds";
		pwm_buzzer_led: pwm_buzzer_led {
			pwms = <&pwm0 0 250000 PWM_POLARITY_NORMAL>;
			label = "buzzer-pwm";
		};
	};
};

&uart0 { status = "disabled"; };
&i2c0 { status = "disabled"; };

&pinctrl {
	spi0_max86140_vb: spi0_max86140_vb {
		group1 { psels = <NRF_PSEL(SPIM_SCK, 0, 15)>, <NRF_PSEL(SPIM_MOSI, 0, 16)>; nordic,drive-mode = <NRF_DRIVE_H0H1>; };
		group2 { psels = <NRF_PSEL(SPIM_MISO, 0, 13)>; };
	};
	i2c1_tmp117_vb: i2c1_tmp117_vb {
		group1 { psels = <NRF_PSEL(TWIM_SCL, 0, 26)>, <NRF_PSEL(TWIM_SDA, 0, 27)>; bias-pull-up; };
	};
	pwm0_buzzer_vb: pwm0_buzzer_vb {
		group1 { psels = <NRF_PSEL(PWM_OUT0, 0, 5)>; nordic,drive-mode = <NRF_DRIVE_H0H1>; };
	};
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_buzzer_vb>;
	pinctrl-names = "default";
};

&spi0 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi0_max86140_vb>;
	pinctrl-names = "default";
	cs-gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
	max86140: maxim_max86140@0 {
		compatible = "maxim,max86140";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};
};

&i2c1 {
	status = "okay";
	compatible = "nordic,nrf-twim";
	pinctrl-0 = <&i2c1_tmp117_vb>;
	pinctrl-names = "default";
	clock-frequency = <100000>;
	tmp117: tmp117@49 { compatible = "ti,tmp117"; reg = <0x49>; };
	sht3xdis: sht3xdis@45 { compatible = "sensirion,sht3xd"; reg = <0x45>; status = "okay"; };
};