&i2c0 {
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";

    max30102: max30102@57 {
        compatible = "i2c-device";
        reg = <0x57>;
    };
};