/*
 * TMP117 on I2C0 for **BLE body-temperature telemetry** demo (same pinmux as TMP117 bring-up).
 *
 * nRF52840 DK (Arduino I2C): append second overlay:
 *   app_tmp117_i2c_dkswap.overlay
 *
 * west build ... -DCONF_FILE=prj_ble_body_temp.conf \
 *   -DDTC_OVERLAY_FILE=app_ble_body_temp.overlay
 */

#include <zephyr/dt-bindings/pinctrl/nrf-pinctrl.h>

/ {
	chosen {
		/delete-property/ zephyr,console;
		/delete-property/ zephyr,shell-uart;
		/delete-property/ zephyr,uart-mcumgr;
		/delete-property/ zephyr,bt-mon-uart;
		/delete-property/ zephyr,bt-c2h-uart;
	};

	pwmleds {
		status = "disabled";
	};
};

&uart0 {
	status = "disabled";
};

&adc {
	status = "disabled";
};

&i2c1 {
	status = "disabled";
};

&spi0 {
	status = "disabled";
};

&spi1 {
	status = "disabled";
};

&spi2 {
	status = "disabled";
};

&spi3 {
	status = "disabled";
};

&pwm0 {
	status = "disabled";
};

&pinctrl {
	i2c0_tmp117: i2c0_tmp117 {
		group1 {
			psels = <NRF_PSEL(TWIM_SCL, 0, 26)>,
				<NRF_PSEL(TWIM_SDA, 0, 27)>;
			bias-pull-up;
		};
	};

	i2c0_tmp117_sleep: i2c0_tmp117_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SCL, 0, 26)>,
				<NRF_PSEL(TWIM_SDA, 0, 27)>;
			low-power-enable;
		};
	};
};

&i2c0 {
	status = "okay";
	compatible = "nordic,nrf-twim";
	pinctrl-0 = <&i2c0_tmp117>;
	pinctrl-1 = <&i2c0_tmp117_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <100000>;

	tmp117: tmp117@49 {
		compatible = "ti,tmp117";
		reg = <0x49>;
	};
};
